.title {
	font-size: 4rem;
}


.description {
	font-size: 1.3rem;
	font-weight: 600;
}

.loginBtnLink {
	width: 80px;
	height: 30px;
	background-color: green;
}

.cardContainer {
	width: 900px;
	display: flex;
	gap: 3rem;
}

.card {
	width: 275px;
	height: 150px;
}


.cardTitle {
	font-size: 2rem;
	font-weight: 900;
}


.cardDescription {
	font-size: 1.1rem;
}
